.p-3 {
    padding: 1rem!important;
}
.container{
    margin: auto;
}
.text-center {
    text-align: center!important;
}
.text-white {
    color: #fff!important;
}
.m-2 {
    margin: .5rem!important;
}